RewriteEngine On
RewriteBase /FolioFlow/
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.+)$ index.php [QSA,L]
RewriteRule ^investment$ controllers/investment.php [L]